
<%- include('include/_header')%>

 <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/add_course" class="border-shadow">
                    <span class="text-gradient">New Course <i class="fa-solid fa-book"></i> </span>
                </a>
            </div>
            <!-- Form Handling-->
            <form action="/" method="POST">
                <table class="table">
                    <thread class="thread-dark">
                        <tr>
                            <th>Course Code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Cohort</th>
                            <th>Action</th>
                        </tr>
                    </thread>
                    <tbody>
                        <%- include('include/_show')%>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <!-- /Main Site -->

<%- include('include/_footer')%>

